<!DOCTYPE html>
<html xml:lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change Password</title>
</head>
<body>
<h2>Change Password</h2>

<form action="/pages/change-password" method="post">
    <input name="hash" th:value="${hash}" type="hidden">

    <label>New Password:</label>
    <input name="newPassword" required type="password"><br>

    <label>New Password Confirmation:</label>
    <input name="newPasswordConfirmation" required type="password"><br>

    <button type="submit">Change Password</button>

    <div th:if="${message}" style="color:green; margin-bottom:10px;">
        <p th:text="${message}"></p>
    </div>
    <div th:if="${error}" style="color:red; margin-bottom:10px;">
        <p th:text="${error}"></p>
    </div>
</form>
</body>
</html>
